<form [formGroup]="heroForm">
  <label>
    First Name:
    <input type="text" formControlName="name" />
  </label>
  <label>
    Class
    <input type="text" formControlName="class" />
  </label>
  <div formGroupName="stats">
    <label>
      Hp:
      <input type="text" formControlName="hp" />
    </label>
    <label>
      Attack:
      <input type="text" formControlName="attack" />
    </label>
  </div>
  <button (click)="addItem()">Add Item</button>
  <div formArrayName="inventory">
    <div *ngFor="let item of inventory.controls; let i = index">
      <label> Item {{ i }}: </label>
      <button (click)="removeItem(i)">Remove</button>
      <input type="text" [formControlName]="i" />
    </div>
  </div>
</form>
<pre>
  {{ heroForm.value | json }}
</pre>
